body{
    color: white;
    background-color: #171717;
    overflow-x: hidden; /* Elimina el desplazamiento horizontal */
}

a{
color: crimson;
    text-decoration:none; 
          
    }
a:hover{
text-decoration:overline;
        }


hr{
padding: 1px;
background-color: red;
}


header .carousel-caption  h1{
color: rgb(127, 250, 244);
text-shadow: #000000 2px 2px 0px;
}


h2{
color: rgb(255, 0, 191);

}
.phone{
    display: none;
}

p{
font-size: 16px;
color:#ffffff;

}
article p{
    color: #171717;
}
footer{
    text-align: center;
    color: #ffffff;
    box-shadow: #171717 2px 2px 2px;
}
article{
    text-align: center;
}
b{
 color: rgb(255, 108, 199);   
 text-transform: uppercase;
 cursor: pointer;
}
aside a{
    margin-left: 580px;
}
.titulo-brillante{
    content: '';
position: relative;
    animation: brillo 3s infinite; /* Animación continua */
}

/* Brillo animado moviéndose de izquierda a derecha */
@keyframes brillo {
    0% {
        left: -180%; /* Comienza fuera de la izquierda */
    }
    50% {
        left: 5%; /* Centro del contenedor */
    }
    100% {
        left:180%; /* Sale por la derecha */
    }
}
.titulo-brillante.paused{
    animation: none;
}
    @media (max-width:800px) {
        header h1{
            display: none;
        }
      .offcanvas-title{
            font-size:10px;
        }
        .phone{
            display: flex;
            text-decoration: underline;
            text-align: center;
            font-size: 3rem; /* Tamaño del texto */
        font-weight: bold;
        background: linear-gradient(to right, #fffb00, #fcf80d, #b3b01e); /* Degradado celeste */
        -webkit-background-clip: text; /* Clip el degradado al texto */
        -webkit-text-fill-color: transparent; /* Hace el texto transparente excepto para el degradado */
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        text-shadow: 0px 0px 50px white;
        }
        aside p{
            font-size: 15px;
            text-align: center;
        }
        aside a{
            margin-left: 159px;
        }
        .titulo-brillante{
           animation: none;
        }
        .hone{
            display:none;
        }
        .offcanvas-title{
            font-size: 20px;
        }
    }