body{
background-color: #171717;
color: aliceblue;
overflow-x: hidden; /* Elimina el desplazamiento horizontal */
}

a{
    color: crimson;
        text-decoration:none; 
              
        }
    a:hover{
    text-decoration:overline;
            }
    

p{
   font-size: 18px; 
   text-align: start;
margin-left: 140px;
}
li{
    font-size: 40px;
    color: wheat;
margin-left: 170px;
margin-bottom: 40px;
}

header{
    margin-top: 50px;
}
header h1{
    color: orange;
    margin-left: 160px;
    /* text-align: center; */
}
header p{
    text-align: start;
margin-left: 160px;

}
nav li{
    font-size: 15px;
    margin: 0;
}
.Preguntas{
    border-radius: 2%;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(12, 11, 11);
text-shadow: 1px 1px 2px black;
}
.Preguntas
 li{
    margin-left:20px;
    color: wheat;
    font-size: 25px;
    
}

@media screen and (max-width: 600px) {
 
    .Preguntas{ 
        background-color: rgb(28, 12, 12);
        text-shadow: 1px 1px 2px rgb(255, 255, 255);
        margin-left:20px;
        text-align: start;
        border-radius: 0%;
    }

.Preguntas li{
    text-shadow: 1px 1px 2px black;
}
.comida{
    margin-left: -150px;
}
.img{
    max-height: 200px;
}
.food{
    margin-left: -130px;
    /* text-align: center; */
}
}